<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Основные">
        <setting label="Роль" type="select" id="role" values="local|server|client" default="local"/>
		    <setting label="Путь для сохранения видео файлов"	type="folder" id="storage_path"	visible="eq(-1,server)" />

		    <setting label="Хост" type="text"   id="remote_host"	visible="!eq(-2,local)" default="192.168.1.10"/>		
		    <setting label="Порт" type="text"   id="remote_port" 	visible="!eq(-3,local)" default="2829"/>

        <setting label="Использовать глобальные настройки" 		type="bool"   id="use_global" 		default="false"/>
      
          <setting id="upload_limit"      type="number"   label="Ограничить скорость раздачи МБит/сек (0 - неограничено)" default="0"       visible="eq(-1,true)"/>
          <setting id="download_limit"    type="number"   label="Ограничить скорость закачки МБит/сек (0 - неограничено)" default="0"       visible="eq(-2,true)"/>
          <setting id="encryption"        type="bool"     label="Шифрование" default="true"    visible="eq(-3,true)"/>
          <setting id="connections_limit" type="number"   label="Макс. соединений (0 - безлимит)" default="200"     visible="eq(-4,true)"/>
          <setting id="listen_port"       type="number"   label="Порт для входящих соединений" default="6881"    visible="eq(-5,true)"/>
          <setting id="use_random_port"   type="bool"     label="Использовать случайные порты" default="false"   visible="eq(-5,true)"/>
          <setting id="pre_buffer_bytes"  type="slider"   label="Загружаемый объем файла до начала просмотра, Мб" default="25"      visible="eq(-5,true)"  range="5,5,50" option="int"/>
    </category>
</settings>
